header {
    background-color: #1D1D1D;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    min-height: 100px;
    z-index: 10;
}


#logout {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

#logout:hover {
    color: goldenrod;
}

.custom-btn {
    background-color: #FFD700;
    color: #1D1D1D;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #CBA400;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.custom-btn:hover {
    background-color: #CBA400;
    color: white;
    transform: scale(1.05);
}

.custom-btn:active {
    transform: scale(0.95);
}

#imagen {
    width: 100px;
    height: 60px;
    margin-right: 4px;
    margin-left: 15px;
    transition: all 0.3s ease-in-out;
}

#imagen:hover {
    transform: scale(1.1);
}
