body{
    background-color: #a97c50;
}

.contenedor {
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}