        img {
            width: 200px;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

         #botones{
            width: 100%;
            padding: 15px;
            font-size: 18px;
            border-radius: 8px;
        }

        .message-box {
            margin-top: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            border-radius: 10px;
            color: white;
        }

        .taberna-header {
            margin-bottom: 40px;
        }

        .taberna-footer {
            margin-top: 40px;
        }

        .row {
            display: flex;
            justify-content: center;
        }