<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Formulario de combate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-image: url('{% static "resources/pre_combate.jpg" %}');
        }
    </style>
</head>
<body>

    <header style="background-color: #1D1D1D; position:relative" class="d-flex flex-wrap align-items-center justify-content-start">
        <a href="{% url 'index' %}">
            <img src='{% static 'resources/logo-tierra-media.png' %}' alt='home' id="imagen">
        </a>
        <form action="{% url 'logout' %}" method='POST'>
            {% csrf_token %}
            <button type='submit' class='btn btn-light' id="logout">Logout</button>
        </form>
        <audio id="reproductor" hidden="hidden" controls autoplay></audio>
        <button onclick="CancionRandom()" class="custom-btn mx-3">Reproducir Canción Aleatoria</button>
        <button onclick="control_reproductor()" class="custom-btn mx-3" id="btn_control" style="display: none">Detener música</button>
    </header>

    <div class="text-bg-danger p-4 container mt-5 rounded shadow-lg">
        <h1>Formulario de combate</h1>

        <ul>
            {% if mensaje_error %}
                <li style="color: red;">{{ mensaje_error }}</li>
            {% endif %}

        </ul>

        <h3>Seleccione sus combatientes</h3>

        <form method="post" action="{% url 'lucha' %}">
            {% csrf_token %}
            <label for="nombre_combate">Proporcione un nombre a esta épica batalla: </label>
            <input type="text"  name="nombre_combate" id="nombre_combate" required>
            <br><br>
            <label for="jugador1">Jugador 1:
                <select name="jugador1" id="jugador1">
                    {% for personaje in personajes %}
                        <option value="{{ personaje.id }}">{{ personaje.nombre }}</option>
                    {% endfor %}
                </select>
            </label>
            <br><br>
            <label for="jugador2">Jugador 2:
                <select name="jugador2" id="jugador2">
                    {% for personaje in personajes %}
                        <option value="{{ personaje.id }}">{{ personaje.nombre }}</option>
                    {% endfor %}
                </select>
            </label>
            <br><br>
            <button type="submit">Empezar combate</button>
        </form>
    </div>

    <script>
        function CancionRandom() {
            let songs = [
                "{% static 'music/pre_combate1.mp3' %}",
            ];

            let boton = document.getElementById("btn_control");
            let random = Math.floor(Math.random() * songs.length);
            let reproductor = document.getElementById("reproductor");
            reproductor.src = songs[random];
            reproductor.play();

            if (boton.style.display === "none") {
                boton.style.display = "block";
            }
            if (boton.textContent === "Reanudar música") {
                boton.textContent = "Detener música";
            }
        }

        function control_reproductor() {
            let reproductor = document.getElementById("reproductor");
            let boton = document.getElementById("btn_control");

            if (!reproductor.paused) {
                reproductor.pause();
                boton.textContent = "Reanudar música";
            } else {
                reproductor.play();
                boton.textContent = "Detener música";
            }
        }
    </script>
</body>
</html>