{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Title</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <link href="{% static 'css/header.css' %}" rel="stylesheet">
   <link href="{% static 'css/lista_personajes.css' %}" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>


   <header class="d-flex flex-wrap align-items-center justify-content-start">
      <a href="{% url 'index' %}">
          <img src='{% static 'resources/logo-tierra-media.png' %}' alt='home' id="imagen">
      </a>
      <form action="{% url 'logout' %}" method='POST'>
          {% csrf_token %}
          <button type='submit' class='btn btn-light' id="logout">Logout</button>
      </form>
      <audio id="reproductor" hidden="hidden" controls autoplay></audio>
      <button onclick="CancionRandom()" class="custom-btn mx-3">Reproducir Canción Aleatoria</button>
      <button onclick="control_reproductor()" class="custom-btn mx-3" id="btn_control" style="display: none">Detener música</button>
  </header>




   <h1>Personajes jugables: </h1>


   {% if personajes %}
        <div class="container bg-secondary p-3 mt-5 rounded">
           <h3 class="text-light container">Listar por facción:</h3>
           <form method="GET">
                <select class="form-select container" name="faccion" id="listar" onchange="this.form.submit()">
                <option value="" {% if not request.GET.faccion %}selected{% endif %}>Listar todos</option>
                {% for faccion in facciones %}
                    <option value="{{ faccion.id }}" {% if request.GET.faccion == faccion.id|stringformat:"s" %}selected{% endif %}>{{ faccion }}</option>
                {% endfor %}
                </select>
            </form>
       </div>

       <ul class="col-3">


          {% for personaje in personajes %}


                  <a href="{% url 'personajes_id' personaje.id %}">{{ personaje }}</a>


                  <ul>
                      <li>Salud: {{ personaje.salud }}</li>
                      <li>Arma: <a href="{% url 'armas_id' personaje.arma.id %}">{{ personaje.arma }}</a></li>
                      <li>Facción: <a href="{% url 'facciones_id' personaje.faccion.id %}">{{ personaje.faccion }}</a></li>
                      <li>Ubicación: <a href="{% url 'ubicaciones_id' personaje.ubicacion.id %}">{{ personaje.ubicacion }}</a></li>
                  </ul>
              </li>
          {% endfor %}


       </ul>

    {% else %}

       <h2 class="text-danger text-center">No hay personajes disponibles</h2>

   {% endif %}

   <script>
      function CancionRandom() {
         let songs = [
           "{% static 'music/FE_Fates_PF.mp3' %}",
           "{% static 'music/ER_Malenia.mp3' %}"
       ];

          let boton = document.getElementById("btn_control");
          let random = Math.floor(Math.random() * songs.length);
          let reproductor = document.getElementById("reproductor");
          reproductor.src = songs[random];
          reproductor.play();

          if (boton.style.display === "none") {
              boton.style.display = "block";
          }
          if (boton.textContent === "Reanudar música") {
              boton.textContent = "Detener música";
          }
      }

      function control_reproductor() {
          let reproductor = document.getElementById("reproductor");
          let boton = document.getElementById("btn_control");

          if (!reproductor.paused) {
              reproductor.pause();
              boton.textContent = "Reanudar música";
          } else {
              reproductor.play();
              boton.textContent = "Detener música";
          }
      }
  </script>
</body>
</html>
