<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A pelear!!!</title>
</head>
<body>

    <h1>{{ combate.nombre }}</h1>

    <h2>Combate entre {{ jugador1.nombre }} y {{ jugador2.nombre }}</h2>
    <p><strong>{{ jugador2.nombre }} - Vida:</strong> {{ jugador2.salud }}</p>

    <h4>Tus estadísticas:</h4>
    <p>Salud: {{ jugador1.salud }}</p>
    <p>Mana: {{ jugador1.mana }}</p>
    {% load static %}
    {% if jugador1.foto %}
        <img src="{% static 'fotos_proyecto/' %}{{ jugador1.foto.name }}" alt="{{ jugador1.nombre }}" width="300" height="300">
    {% endif %}
    {% if jugador2.foto %}
        <img src="{% static 'fotos_proyecto/' %}{{ jugador2.foto.name }}" alt="{{ jugador2.nombre }}" width="300" height="300" style="transform: scaleX(-1);">
    {% endif %}
    <h3>Registro del combate</h3>
        <div class="Registro de combate ">
            <h4>Turno {{ combate.turnos }}:</h4>
            {% if mensaje %}
            	<p>{{ mensaje }}</p>
            {% endif %}
            {% if mensaje_accion %}
            	<p>{{ mensaje_accion }}</p>
            {% endif %}
            {% if mensaje_adicional %}
                <p>{{ mensaje_adicional }}</p>
            {% endif %}
            {% if mensaje_adicional_2 %}
            	<p>{{ mensaje_adicional_2 }}</p>
            {% endif %}
            {% if mensaje_mana %}
                <p>{{ mensaje_mana }}</p>
            {% endif %}
            {% if mensaje_veneno %}
            	<p>{{ mensaje_veneno }}</p>
            {% endif %}
            {% if mensaje_veneno_2 %}
                <p>{{ mensaje_veneno_2 }}</p>
            {% endif %}
            {% if mensaje_j2  %}
            	<p>{{ mensaje_j2  }}</p>
            {% endif %}
            {% if mensaje_accion_j2 %}
                <p>{{ mensaje_accion_j2 }}</p>
            {% endif %}
            {% if mensaje_veneno_j2 %}
                <p>{{ mensaje_veneno_j2 }}</p>	
            {% endif %} 
            {% if mensaje_veneno_j2_2 %}
                <p>{{ mensaje_veneno_j2_2 }}</p>	
            {% endif %} 
            {% if mensaje_guardia %}
                <p>{{ mensaje_guardia }}</p>
            {% endif %}
            {% if mensaje_dano %}
            	<p>{{ mensaje_dano }}</p>
            {% endif %}
        </div>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="accion" value="atacar">Atacar</button>
        <button type="button" onclick="mostrar_habilidades()">Habilidades</button>
        <button type="button" onclick="retirada()">Retirada</button>

        <div id="habilidades" itemid="oculto" style="display: none">
            <button type="submit" name="accion" value="hb1">Onda de energía : 50</button>
            <button type="submit" name="accion" value="hb2">Veneno Oculto : 70</button>
            <button type="submit" name="accion" value="hb3">Guardia : 30</button>
            <button type="submit" name="accion" value="hb4">Curación : 100</button>
        </div>
    </form>

    <script>
        function retirada() {
            alert("Huir es de corbades, no tienes escapatoria")
        }

        function mostrar_habilidades(){
           let div = document.getElementById("habilidades")
            if(div.style.display === "none"){
                div.style.display = "block";
            }else{
                div.style.display = "none";
            }
        }
    </script>
</body>
</html>