<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de combate</title>
</head>
<body>

    <h1>Formulario de combate</h1>

    <h3>Seleccione sus combatientes</h3>

    <form method="post">
    {% csrf_token %}
        <label for="jugador1">Combate:
            <select name="jugador1" id="jugador1">
                {% for personajes in personajes %}
                    <li>{{ personajes.nombre }}</li>
                {% endfor %}
            </select>
        </label>
        <label for="jugador2">Combate:
            <select name="jugador2" id="jugador2">
                {% for personajes in personajes %}
                    <li>{{ personajes.nombre }}</li>
                {% endfor %}
            </select>
        </label>
        <button type="submit">Empezar combate</button>
    </form>

</body>
</html>